/*----------------------------Variables--------------------------*/
$titre: 'MuseoModerno', cursive;
$cp-txt: 'Lato', sans-serif;
$bg-main: #152036;
$bg-secondary: #1b2a47;
$yellow: rgb(252, 228, 19);
$bleu: #007bff;
/*--------------------- Mediaqueries------------------*/
$desktop : "screen and (min-width : 992px)";
/*@media screen and (min-width : 992px){}  <-9 pouces*/
$tablette : "screen and (min-width: 480px) and (max-width : 991px)";
/*@media screen and (min-width: 480px) and (max-width : 991px){}  <-tablette*/
$smartphone : "screen and (max-width: 479px)";
/*@media screen and (max-width: 479px){}smartphone*/
/*---------------------------------Base----------------------*/
body
{
    margin : 0, auto;
    font-family: $cp-txt;
    color: white;
    background-color: $bg-main;
    h1{
        font-family: $titre;
        padding: 0.5rem;
        font-size: 2rem;
        a{
            text-decoration: none;
            color : $yellow;
            &:hover{
                text-decoration: none;
                color: $bleu;
            }
        }
    }
}
.container{
    max-width: 1180px;
    margin: auto;
}
header{
    border-bottom: 2px solid white;   
}
h2{
    font-family: $titre;
    font-size: 2rem;
    padding: 1rem;
    color :white;
}


th, tr{
    color : white;
    text-align: center;
}
.bloc{
    padding: 1rem;
    border-radius: 8px;
    background-color: $bg-secondary;
    max-width: 60%;
    margin: auto;
    form{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
    }
}
input{
    margin-bottom: 0.8rem;
    border-radius: 5px;
    border: 0;
    padding: 0.5rem;
}
.marge{
    margin : 0.5rem;
}
@media#{$smartphone}{
    .bloc{
        max-width: 15rem;  
    }
}